.confirm-form

  &--off
    display none

.confirm-form__wrapper
  position relative
  height 348px
  width 585px
  margin 0 auto
  border-radius $borderRadius * 2
  background $colorConfirmBG
  padding 16px 52px
  overflow hidden
  z-index 1

  @media screen and (max-width: $mobile)
    border-radius 0
    padding 16px 5px 10px
    margin-bottom 15px
    height 336px
    width 100%

  &--in-progress
    background-image url(../image/loader_large.gif)
    background-repeat no-repeat
    background-position center

  &--off
    display none

  &--code-confirm
    height 430px

    @media screen and (max-width: $mobile)
      padding-top 25px

  &--success
    background transparent
    padding-bottom 0
    height 430px

.confirm-form__code-error
  font-size 12px
  font-regular()
  font-default()
  position absolute
  background $colorWhite
  box-shadow 0 5px 20px 0 $colorDarkA15

  border-radius 6px
  border 1px solid $colorLipstick

  line-height initial
  padding 9px 16px
  margin-bottom -40px
  margin-left 10px
  margin-top -18px

  width 166px
  left 80px
  bottom 0

  @media screen and (max-width: $mobile)
    left -14px

  &::after,
  &::before
    content ''
    display block
    position absolute
    border-style solid
    border-width 0px 12px 12px 12px

  &::before
    top -13px
    left 67px
    border-color transparent transparent $colorLipstick transparent

  &::after
    top -12px
    left 67px
    border-color transparent transparent $colorWhite transparent

  &--off
    display none


.confirm-form__hint
  font-small-1()
  font-regular()
  font-secondary()
  letter-spacing -0.2px
  display inline-block
  margin-left 10px
  margin-top 20px
  width 136px

  @media screen and (max-width: $mobile)
    display inline-block
    margin-top 80px
    text-align right
    margin-right 18px
    font-size 11px
    float right
    width 100%

  &--back-card
    font-small-2()
    font-regular()
    font-default()
    display inline-block
    letter-spacing 0
    margin-right 3px
    text-align left
    margin-top 0

  &--anim-hidden


  &--off
    display none



.confirm-form__label
  font-regular()
  font-small-2()
  font-default()
  display block
  text-align center
  margin 13px auto 14px

  @media screen and (max-width: $mobile)
    position absolute
    margin-left -6px
    bottom 60px
    width 100%

  &--anim-hidden
    opacity 0
    z-index 0
    margin-top -89px

  &--off
    display none

  .confirm-form__link
    font-accent()

  .confirm-form__agree
    visibility hidden
    height 0
    width 0

.confirm-form__check
  background none
  display inline-block
  vertical-align middle
  background-size 13px
  border 2px solid $colorCheckboxBorder
  border-radius 4px
  cursor pointer
  height 16px
  width 17px


.confirm-form__agree:checked + .confirm-form__check
    background: url(../image/checked.svg) no-repeat center
