.confirm-blue
  button-blue()
  display block
  margin 0 auto
  width 147px
  height 40px
  border-radius 8px
  background-position center

  &--anim-hidden
    opacity 0

  &:hover
    background-color $colorGrennyBlue + #111
    border-color $colorGrennyBlue + #111
    transition all 0.15s ease

  &--code-submit
    display inline-block
    letter-spacing 0.9px
    margin-left 11px
    width 128px

  &--success
    letter-spacing 0.95px
    position absolute
    display block
    width 230px
    bottom 0
    right 0
    left 0

  &--in-progress
    background-image url(../image/loader.gif)
    background-repeat no-repeat
    color transparent

  &--disabled
    background-color $colorButtonDisabld
    border-color $colorButtonDisabld

    &:hover
      background-color $colorButtonDisabld
      border-color $colorButtonDisabld
      cursor default

  &--off
    display none
