
.footer
  position absolute
  // width 100%
  width 96%
  // padding 0 124px 0 0
  padding 0 40px 0 0
  bottom 42px
  clearfix()

  @media screen and (max-width: $mobile)
    display block
    text-align center
    margin 0 auto
    bottom 27px
    padding 0

.footer__copyrights
  font-small-1()
  font-regular()
  font-disabled()
  margin-top 8px
  letter-spacing 0.2px
  float left

  @media screen and (max-width: $mobile)
    display none

.footer__verifiedby
  float right

  @media screen and (max-width: $mobile)
    float none

.footer__payment-icon
  margin-left 18px

  @media screen and (max-width: $mobile)
    margin-left 6px
    height 17px
