

.header
  &--confirm
    text-align center
    padding-top 26px
    width 100%

    @media screen and (max-width: $mobile)
      padding 0


.header__logo-left
  margin-top 20px
  text-align left
  float left

  & > img
    max-width 80px

  @media screen and (max-width: $mobile)
    display none


.header__logo-right
  margin-right 3px
  margin-top 14px
  float right

  & > img
    max-width 92px

  @media screen and (max-width: $mobile)
    display none
