/**
 *  success
 */

.pay-success
  position relative
  height 100%
  width 100%
  text-align center
  padding-top 18px
  opacity 0

  &--anim-show
    padding-top 0
    opacity 1

  &--off
    display none

.pay-success__valid-icon
  width 64px
  margin-right -16px

.pay-success__message
  font-heading-3()
  font-regular()
  font-default()
  margin-top 20px
  display block
