.stepper
  &--confirm
    display inline-block
    margin-bottom 20px
    text-align center
    width 100%

.stepper__wrapper
  display inline-block

.stepper__name
  font-small-1()
  font-regular()
  font-default()
  cursor pointer

  &:not(:last-child)::after
    content ''
    background url(../image/select.svg) no-repeat
    width 16px
    height 13px
    margin-left 10px
    display inline-block
    transform rotate(-90deg) scale(1.1)
    opacity 0.6

  &--active
    font-bold()
    cursor default

  &--disable
    font-disabled()
    cursor default

    &:not(:last-child)::after
      opacity 0.3

a.stepper__name
  text-decoration none
  &:hover
    text-decoration underline


@media screen and (max-width: $mobile)
  .stepper
    &--confirm
      position absolute
      z-index 3
      top 15px

  .stepper__name
    &:first-child
      display none

    &:not(:last-child)::after
      width 11px
      height 7px
      margin-left 2px
      transform rotate(-90deg) scale(0.9)
