
@import './base/colors';
@import './base/fonts';
@import './base/base';
@import './base/mixin';

/* blocks  */

@import './blocks/page.styl';
@import './blocks/header.styl';
@import './blocks/stepper.styl';
@import './blocks/confirm-card.styl';
@import './blocks/confirm-form.styl';
@import './blocks/popup-info.styl';
@import './blocks/card.styl';
@import './blocks/pay-success.styl';
@import './blocks/receipt.styl';
@import './blocks/confirm-blue.styl';
@import './blocks/footer.styl';
