$colorDark = #1f3031
$colorWhite = #fff
$colorGrennyBlue = #48c1cc
$colorLipstick = #e01a4f
$colorDarkA30 = rgba(31, 48, 49, 0.3)
$colorDarkA15 = rgba(31, 48, 49, 0.15)
$colorDarkA58 = rgba(31, 48, 49, 0.58)
$colorConfirmBG = #f8f9f9
$colorCardBorder = #cfd8dc
$colorGradient = #f7f8f9
$colorMagnet = #cfd8dc
$colorCheckboxBorder = #d0d0d0
$borderRadius = 8px
$colorButtonDisabld = #b0c9cc
