

/**
 *  Fonts
 */


@font-face
  font-family LatoBold;
  src url(../fonts/Lato-Bold.ttf);

@font-face
  font-family LatoRegular;
  src url(../fonts/Lato-Regular.ttf);

@font-face
  font-family LatoRoubleBold;
  src url(../fonts/Lato-Ruble-Bold.otf);

@font-face
  font-family LatoRoubleRegular;
  src url(../fonts/Lato-Ruble-Regular.otf);


 font-heading-1()
   font-size 40px
   letter-spacing -0.3px

 font-heading-2()
   font-size 28px
   letter-spacing -0.1px

 font-heading-3()
   font-size 24px
   letter-spacing -0.1px

 font-plain()
   font-size 16px

 font-small-1()
   font-size 13px

 font-small-2()
   font-size 11px
   letter-spacing 0.1px

 // fonts by CAPS
 font-caps-1()
   text-transform uppercase
   letter-spacing 1.2px

 font-caps-2()
   text-transform uppercase
   letter-spacing 1.1px

 // fonts by weight
 font-bold()
   font-family LatoBold

 font-regular()
   font-family LatoRegular

 font-rouble-bold()
   font-family LatoRoubleBold

 font-rouble-regular()
   font-family LatoRoubleRegular

 // fonts by state
 font-default()
   color $colorDark

 font-secondary()
   color $colorDarkA58

 font-disabled()
   color $colorDarkA30

 font-accent()
   color $colorGrennyBlue

 font-inverse()
   color $colorWhite
