/**
 * Default styles
 * for @blocks
 */

default-button()
  font-bold()
  font-caps-1()
  font-small-1()
  font-default()
  border-radius $borderRadius
  background $colorWhite
  text-decoration none
  display inline-block
  position relative
  text-align center
  line-height 38px
  cursor pointer
  border none
  height 39px
  width 95px
  outline none

border-blue()
  border-radius $borderRadius
  border-color $colorGrennyBlue
  border-style solid
  border-width 2px
  appearance none

button-blue()
  default-button()
  border-blue()
  font-inverse()
  background-color $colorGrennyBlue
